@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=Roboto+Condensed:wght@400;700&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  html {
    @apply font-quicksand text-[16px] leading-6 min-h-screen;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-roboto;
  }
}

.gradient-text {
  background: linear-gradient(40deg, #ea00ff, #ea00ff, #03d5ff, #03d5ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.5));
}

.icon-wrapper svg {
  stroke: var(--icon-color) !important; /* Override Lucide's currentColor and external rules */
}

.theme-switcher-login-signup {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 40;
}

@media (min-width: 768px) {
  .theme-switcher-login-signup {
    top: 2rem;
    right: 2rem;
  }
}